<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="text-center">
        <h1>ABOUT</h1>
        <%= image_tag("About.picture.JPG", alt: "About Picture", size: "500x400") %>
        <p>
          <h5>MyBikePlaceはすべての年齢の方向けのSNSアプリケーションです！<br>
          バイクが好きな人はもちろん、乗り物好き、景色を見るのが好きな人、<br>
          見た景色を共有したい人などにおすすめです！<br>
          自分のお気に入りの場所を共有し、利用者同士で交流を深めましょう！<br>
          ぜひ、ご利用ください！<br></h5>
        </p>
      </div>
    </div>
  </div>
</div>