<script>
  // ループを使用して複数のマーカーを地図上に表示する
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      const position = {lat: <%= post.latitude %>, lng: <%= post.longitude %>};
      marker.push(new google.maps.Marker({
        position: position,
        map: map,
        animation: google.maps.Animation.DROP
      }));

      // マーカーに関連付けられた情報ウィンドウを作成し、それぞれのマーカーにイベントを設定
      const content =
        "<h4>" + <%= post.title %> + "</h4>" +
        "<p>" + <%= post.content %> + "</p>";
      infoWindow[i] = new google.maps.InfoWindow({
        content: content
      });
      markerEvent(i);
    <% end %>
  <% end %>

  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
  }

  function getLocation() {
    navigator.geolocation.getCurrentPosition(
      function (position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const latlng = new google.maps.LatLng(latitude, longitude);
        map.setCenter(latlng);
        map.setZoom(12);
      }
    );
  }

  function deleteMarkers() {
    for (let i = 0; i < marker.length; i++) {
      if (marker[i] != null) {
        marker[i].setMap(null);
      }
    }
  }

  // deleteMarkers 関数を呼び出します
  deleteMarkers();
</script>